<% provide(:title, "Help") %>
  <h1><%= t ".h" %></h1>
    <p>
      <%= t ".get_help" %>
      <a href="http://www.railstutorial.org/help"><%= t ".rail" %></a>.
      <%= t ".to_get" %>
      <a href="http://www.railstutorial.org/book"><em><%= t ".rortut" %></em>
      <%= t ".book" %></a>.
    </p>
  </body>
</html>
